.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::after {
  display: none;
}
.custom-file-input::before {
  content: 'Selecione uma foto';
  color: black;
  display: inline-block;
  background: none;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 4px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  border: none;
  font-weight: 700;
  font-size: 10pt;
  margin-top: 6px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: none;
}
